


.row {

	margin: 0px;

}

header {

	background:url(../images/bg.jpg) no-repeat 0% 0% / 100% auto;

}

.fullbg {

	background-color:rgba(31, 20, 20, 0.8);

}



a:focus {

	outline: none;

}


.text-banner {

	padding: 120px 0px 200px;

}
p
{
line-height: 1.5;
}

.text-banner h2 {

	color: #cc0000;

	font-family: 'Niconne', cursive;

	font-size: 65px;

	text-align: center;

}

.text-banner p {

	font-family: "Lato", sans-serif;

	color: #ccc;

	font-size: 24px;

	text-align: center;
}

#events {
	padding-top: 70px;
	width: 60%;
}
#events h1 {
	align:center;
}





 
@media (min-width: 768px) and (max-width: 990px) {


.text-banner {

	padding: 0px 0px 100px;

	margin-top: 80px;

}

.text-banner h2 {

	font-size: 45px;

}
.text-banner p {

	font-size: 20px;

}
}

 @media (min-width: 120px) and (max-width: 768px) {


.text-banner {

	padding: 3px 0px 25px;

	margin-top: 60px;

	position: absolute;

}

.text-banner h2 {

	font-size: 31px;

	z-index: 1;

}

.text-banner p {

	font-size: 14px;
}

.fullbg {

	height: 10px;

}

header {

	height: 210px;

}

.menubox {

	margin-top: 73px;
}

.header-text {

	font-size: 16px;

	text-align: center;
}

}

