body {
  min-height: 50px;
  
}


.row {

	margin: 0px;

}

header {

	background:url(../images/bg.jpg) no-repeat 0% 0% / 100% auto;

}

.fullbg {

	background-color:rgba(31, 20, 20, 0.8);

}



a:focus {

	outline: none;

}


.text-banner {

	padding: 120px 0px 200px;

}
p
{
line-height: 1.5;
}

.text-banner h2 {

	color: #cc0000;

	font-family: 'Niconne', cursive;

	font-size: 65px;

	text-align: center;

}

.text-banner p {

	font-family: "Lato", sans-serif;

	color: #ccc;

	font-size: 24px;

	text-align: center;

}

.inputwrapper {
	float:left;
	width:100%;
	margin-right:80px;
}.inputwrapper input {
	
	width:90%;
	display:inline;
	
}
#events {
	padding-top: 70px;
	width: 60%;
}
#events h1 {
	align:center;
}





 @media (min-width: 768px) and (max-width: 1420px) {

.logo {

	font-size: 16px;

}

}

@media (min-width: 768px) and (max-width: 990px) {

.navbar {

	min-height: 30px;

}

.menu li a {

	padding: 8px !important;

}

.text-banner {

	padding: 0px 0px 100px;

	margin-top: 80px;

}

.text-banner h2 {

	font-size: 45px;

}

.text-banner p {

	font-size: 20px;

}



}

 @media (min-width: 120px) and (max-width: 768px) {

.logo {

	margin: 15px 0px;

	position: absolute;

	font-size: 15px;

}

.navb {

	margin-top: 17px;

	position: absolute;

	right: 0px;
	margin-right:0px;

}

.menu {

	width: 100%;

}

.menu li a {

	width: 100%;

	padding: 10px;

}

.navb {

	margin-top: 17px;

}

.navi {

	border: none;

	z-index: 2;

}

.text-banner {

	padding: 3px 0px 25px;

	margin-top: 60px;

	position: absolute;

}

.text-banner h2 {

	font-size: 31px;

	z-index: 1;

}

.text-banner p {

	font-size: 14px;

}

.menu li {

	float: none;

	width: 100%;

}

.menu li:after {

	content: '';

}

.menubox {

	background-color: #333;

}

.fullbg {

	height: 10px;

}

header {

	height: 210px;

}

.menubox {

	margin-top: 73px;

}



.header-text {

	font-size: 16px;

	text-align: center;

}



}

